:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --clr-main: #333;
    --clr-accent: #45b29d;
    --clr-bg: #eee;
    --clr-muted: grey;

}

* {
    color: var(--clr-main);
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

section {
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 30%);
    background-color: var(--clr-bg);
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    
}

header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;

}


div#weather-details {
    display: grid;
    grid-template: auto auto / auto auto;
}

.detail {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--clr-accent);
}

.value {
    color: var(--clr-muted);
    text-align: center;
}

form {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form > * {
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
}

input {
    padding: 0.25rem 1rem 0.25rem 1rem;
    margin-bottom: 0.5rem;
}

button {
    max-width: fit-content;
    padding: 0.5rem 1rem;
    background-color: var(--clr-accent);
    color: white;
    opacity: 0.85;
    
}

button:hover {
    opacity: 1;
}

a {
    position: absolute;
    right: 4%;
    bottom: 2%;
    color: var(--clr-accent);

}

a:hover {
 color: #318e7c;   
}
